<form [formGroup]="editItemForm" (ngSubmit)="confirmCreate()">
    <div class="header-flex">
        <H1>Create Item</H1>
        <span class="spacer"></span>
        <button type="button" mat-stroked-button class="btnRadius" [routerLink]="['/menu/item']">
            Cancel
        </button>
        <button type="submit" mat-flat-button class="btnRadius">
            Save
        </button>       
    </div>    
    <div class="container-flex">
        <div class="grid-container">
            <div class="grid-InventoryItems">
                <mat-form-field class="full-width">
                    <mat-label>First Name</mat-label>
                    <input matInput type="text" placeholder="Ex. Combo 1">
                    <mat-error *ngIf="categoryName.hasError('required')">Category Name is required</mat-error>
                </mat-form-field>       
            </div>
            <div class="grid-AddTags">
                    <mat-form-field class="full-width">
                    <mat-label>Category</mat-label>
                    <select matNativeControl required>
                        <option value="Category 1">Category 1</option>
                        <option value="Category 2">Category 2</option>
                    </select>
                    </mat-form-field>
            </div> 
            <div class="grid-QtyAvailable">
                <div style="font: var(--mat-sys-label-small)">
                    <span>ICON PICKER : </span>
                </div>
                <button [disabled]="uploadedImage"
                    matTooltip="If no image is provided, an icon can be selected to use as the category image."
                    type="button" mat-icon-button class="iconSelector" class="icon-picker"
                    >
                    <mat-icon class="icon-picker-image">{{ selectedIcon }}</mat-icon>
                </button>
             </div> 
            
            <div class="grid-Availabilty">
                <mat-form-field class="full-width">
                    <mat-label>First Name</mat-label>
                    <input matInput type="text" placeholder="Ex. Combo 1">
                    <mat-error *ngIf="categoryName.hasError('required')">Category Name is required</mat-error>
                </mat-form-field>     
            </div>
            <div class="grid-PriceTags">
                <mat-form-field class="full-width">
                    <mat-label>Category</mat-label>
                    <select matNativeControl required>
                        <option value="Category 1">Category 1</option>
                        <option value="Category 2">Category 2</option>
                    </select>
                </mat-form-field>
            </div>

            <mat-divider class="grid-Divider"></mat-divider>

             <div class="grid-Foodics">
                <mat-form-field class="full-width">
                    <mat-label>Description</mat-label>
                    <textarea matInput placeholder="Description"></textarea>
                </mat-form-field>
             </div>


            <div class="grid-SKU">
                <mat-form-field class="full-width">
                    <mat-label>SKU</mat-label>
                    <input matInput type="text" placeholder="SKU"> 
                    <button matButton="tonal" class="buttonGenerate" matSuffix >Generate</button>                   
                </mat-form-field>  
            </div>

             <div class="grid-Description">
                <mat-form-field class="full-width">
                    <mat-label>Description</mat-label>
                    <textarea matInput placeholder="Description"></textarea>
                </mat-form-field>

             </div>
             <div class="grid-CostingMethod">
                <mat-form-field class="full-width">
                    <mat-label>Costing Method</mat-label>
                    <input matInput type="text" placeholder="SKU">                    
                </mat-form-field>  

             </div>

                   
            <div class="grid-Category">
                <mat-form-field class="full-width">
                <mat-label>Category</mat-label>
                <select matNativeControl required>
                    <option value="Category 1">Category 1</option>
                    <option value="Category 2">Category 2</option>
                </select>
                </mat-form-field>
            </div>
            
            <div class="grid-Barcode">
                <mat-form-field class="full-width">
                    <mat-label>Barcode</mat-label>
                    <input matInput type="text" placeholder="Barcode">                    
                </mat-form-field>  
            </div>

              <div class="grid-PricingMethod">
                <mat-form-field class="full-width">
                <mat-label>Pricing Method</mat-label>                    
                <select matNativeControl placeholder="Pricing Method">
                    <option value="Fixed">Fixed</option>
                    <option value="Open">Open</option>
                </select>                  
                </mat-form-field>  
            </div>

            <div class="grid-TaxGroup">
                <mat-form-field class="full-width">
                    <mat-label>Tax Group</mat-label>
                    <input matInput type="text" placeholder="VAT">                    
                </mat-form-field>  
            </div>

            <div class="grid-SellingMethod">
                <mat-form-field  class="full-width">
                <mat-label>Selling Method</mat-label>
                <select matNativeControl required>
                    <option value="Category 1">Category 1</option>
                    <option value="Category 2">Category 2</option>
                </select>
                </mat-form-field>
            </div> 
            
            <div class="grid-Price">
                <mat-form-field class="full-width">
                    <mat-label>Price</mat-label>
                    <input matInput type="text" placeholder="Enter Amount">                    
                </mat-form-field>  
            </div>

            <div class="grid-PreparationTime">
                <mat-form-field class="full-width">
                    <mat-label>Preparation Time</mat-label>
                    <input matInput type="text" placeholder="Preparation Time">                    
                </mat-form-field>  
            </div>

            <div class="grid-GrossWeight">
                <mat-form-field class="full-width">
                    <mat-label>Gross Weight</mat-label>
                    <input matInput type="text" placeholder="0.000">                    
                </mat-form-field>  
            </div>
            <div class="grid-NetWeight">
                <mat-form-field class="full-width">
                    <mat-label>Net Weight</mat-label>
                    <input matInput type="text" placeholder="0.000">                    
                </mat-form-field>  
            </div>

            <div class="grid-PriceSchedule">
                <mat-form-field class="full-width">
                    <mat-label>Price Schedule</mat-label>
                    <input matInput type="text" placeholder="Enter Amount">                    
                </mat-form-field>  
            </div>

            <div class="grid-WalkingTime">
                <mat-form-field class="full-width">
                    <mat-label>Walking Time</mat-label>
                    <textarea matInput placeholder="Walking Time"></textarea>
                </mat-form-field>
            </div>

            <div class="grid-IngredientCost">
                <mat-form-field class="full-width">
                    <mat-label>Ingredient Cost</mat-label>
                    <input matInput type="text" placeholder="Ingredient Cost">                    
                </mat-form-field>  
                <mat-form-field class="full-width">
                    <mat-label>Calories</mat-label>
                    <input matInput type="text" placeholder="Calories">                    
                </mat-form-field> 
            </div>
            <div class="grid-Cost">
                <mat-form-field class="full-width">
                    <mat-label>Cost %</mat-label>
                    <input matInput type="text" placeholder="Cost %">                    
                </mat-form-field> 
                <mat-form-field class="full-width">
                    <mat-label>Salt Content</mat-label>
                    <input matInput type="text" placeholder="Salt Content">                    
                </mat-form-field>  
            </div>



        </div>
    
            
    
        
    </div>
</form>


