.action-bar {
  display: flex;
  padding: 1px 8px;
  border-bottom: 1px solid var(--mat-sys-outline-variant);
  align-items: center;
  gap: 10px;
}

.spacer{
  flex-grow: 1;
}

.action-bar:empty {
  display: none;
}

@media (max-width: 599px) {
  .action-bar {
    flex-direction: column;
  }
  
}