@use '@angular/material' as mat;

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  gap: 30px;
}

.schedule-container {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 1rem;
}

.time-input {
  -webkit-font-smoothing: antialiased;
  width: 100%;
  padding: 2px 2px; // Reduced vertical padding
  box-sizing: border-box;
  text-align: center;
  display: flex;
  align-items: center; // Vertical centering
  justify-content: center; // Horizontal centering

  // Border styling to match Material inputs
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  font-size: 14px;
}

input[type="time"]:focus {
  outline: none !important;
  border: 2px solid #1976d2 !important;
  box-shadow: none !important;
  background-color: white !important;
  color: black !important;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.btnActions {
  @include mat.button-overrides((
    filled-container-shape: 5px,
    protected-container-shape: 5px,
  ));
}