@use '@angular/material' as mat;

.slide-toggle {
  @include mat.slide-toggle-overrides((
    track-width: 50px,
    track-height: 20px,
    selected-handle-color: rgb(100, 194, 100),
    selected-hover-handle-color: rgb(34, 190, 34),
    selected-focus-handle-color: rgb(34, 190, 34),
    selected-icon-color: white,
    unselected-handle-color: rgb(194, 100, 100),
    unselected-hover-handle-color: rgb(180, 39, 39),
    unselected-focus-handle-color: rgb(180, 39, 39),
  ));
}

.spacer{
  flex-grow: 1;
}

.icon-image {
  text-align: center;
  font-size: 40px;
  width: 50px;
  height: 50px;
}

.category-image {
  align-items: center;
  max-width: 50px;
  max-height: 50px;
}

va-mat-table {
  display: block;
  width: 100%;
  box-shadow: var(--mat-sys-level2);
}

::ng-deep .mat-mdc-paginator-container {
    justify-content: flex-start !important;
}

.checkbox{
   @include mat.checkbox-overrides((
    
  ));
}

.action-bar-1{
  text-align: left !important;
}

.btnCategory {
    border-radius: 5px;
}

.main-container {
  box-shadow: var(--mat-sys-level2)
}

.menu-container {
    display: flex;
    gap: 10px;
    padding: 5px;
    border-bottom: 1px solid var(--mat-sys-outline-variant);
}

.container-1 {
  justify-content: flex-start;
}

.container-2 {
  justify-content: flex-end;
}

.inputSearch{
  width: 500px;
}

@media (max-width: 599px) {

  .main-container {
    margin-left: 10px;
  }

  .menu-container {
    flex-direction: column;
  }
}