@use '@angular/material' as mat;

form {
  display: contents;
  margin: 0;
  padding: 0;
  border: none;
}

.header-flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.container-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(7, 150px);
  gap: 1rem;

  
}
//row 1
.grid-itemName{
  grid-column: 1 / span 1;
  grid-row: 1;
}

.grid-secondLanguage{
  grid-column: 3 / span 1;
  grid-row: 1;
}

.grid-IconPicker{
  grid-column: 4 / span 1;
  grid-row: 1;
}

.grid-Availabilty {
  grid-column: 5 / span 1;
  grid-row: 1;
}

.grid-6cS2-1r {
  grid-column: 6 / span 2;
  grid-row: 1;
}


//row12
.grid-SKU{
  grid-column: 1 / span 2;
  grid-row: 12;
}

.buttonGenerate
{
  @include mat.button-overrides (( 
    tonal-container-shape : 5px
  ));
  height: 40px;
  width: 80px;
  margin: 1px;
}

.grid-itemType{
  grid-column: 3 / span 2;
  grid-row: 12 ;
}

.grid-Description{
  grid-column: 5 / span 2;
  grid-row: 12 ;
}


// row13
.grid-CostingMethod{
  grid-column: 1 / span 2;
  grid-row: 13 /span 2;
}

.grid-Category{
  grid-column: 3 / span 2;
  grid-row: 13 ;
}
.grid-Barcode{
  grid-column: 5 / span 2;
  grid-row: 13 ;
}



//row14

.grid-PricingMethod{
  grid-column: 1 / span 2;
  grid-row: 14;
}
.grid-TaxGroup{
  grid-column: 3 / span 2;
  grid-row: 14;
}
.grid-SellingMethod{
  grid-column: 5 / span 2;
  grid-row: 14 ;
}


//row15

.grid-Price{
  grid-column: 1 / span 2;
  grid-row: 15 /span 2;
}
.grid-PreparationTime{
  grid-column: 3 / span 2;
  grid-row: 15;
}
.grid-GrossWeight{
  grid-column: 5 / span 1;
  grid-row: 15 ;
}
.grid-NetWeight{
  grid-column: 6 / span 1;
  grid-row: 15 ;
}

//row16

.grid-PriceSchedule{
  grid-column: 1 / span 2;
  grid-row: 16 / span 2;
}
.grid-WalkingTime{
  grid-column: 3 / span 2;
  grid-row: 16 / span 2;
}


.grid-IngredientCost{
  grid-column: 5 / span 1;
  grid-row: 16 ;
}

.grid-Cost{
  grid-column: 6 / span 1;
  grid-row: 16 ;
}



.grid-icon-picker {
  grid-column: 1 /span 3;
  grid-row: 3;
}

.grid-slideContainer{
  grid-column: 6;
  grid-row: 1 / span 10;
}

.grid-reference {
  grid-column: 1 / span 3;
  grid-row: 5;
}

.grid-textArea {
  grid-column: 1 / span 3;
  grid-row: 4;
}

.icon-picker {
  width: 150px;
  height: 150px;
  padding: 0;
  @include mat.icon-button-overrides(
    (
      container-shape: 5px
    )
  );
  border: #aaaaaa 2px dashed;
}

.icon-picker-image {
  font-size: 90px;
  width: 90px;
  overflow: visible;
}

.icon-menu{
  overflow: hidden !important;
}

.icon-grid{
  overflow: hidden !important;
}


.btnRadius {
  border-radius: 5px;
  width: 150px;
}

.btnImage {
  width: 250px;
  height: 250px;
  padding: 0;
  @include mat.icon-button-overrides(
    (
      container-shape: 5px
    )
  );
  border: #aaaaaa 2px dashed;
}

.btnAvailability {
  height: 40px;
  border-radius: 5px;

  @include mat.fab-overrides(
    (
      extended-container-elevation-shadow: 0,
    )
  );
}

.icon-image {
  font-size: 120px;
  width: 220px;
  overflow: visible;
}

.uploaded-image {
  width: 250px;
  height: 250px;
  object-fit: scale-down;
}

.spacer {
  flex-grow: 1;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
  margin-bottom: 10px;
}

.toggle-button {
  @include mat.slide-toggle-overrides((
    handle-shape: 5px,
    track-shape: 5px,
    label-text-weight: 500,
  ));
  margin-bottom: 10px;
}

@media (max-width: 600px) {

  .container-flex {
    flex-direction: column;
    margin-left: 5px;
  }
  .grid-container {
    display: flex;
    flex-direction: column;
  }

}