<form [formGroup]="createItemForm" (ngSubmit)="confirmCreate()">
    <div class="header-flex">
        <H1>Create Item</H1>
        <span class="spacer"></span>
        <button type="button" mat-stroked-button class="btnRadius" [routerLink]="['/menu/item']">
            Cancel
        </button>
        <button type="submit" mat-flat-button class="btnRadius">
            Save
        </button>
    </div>
    <div class="container-flex2">

        <div class="container-Column1">

        <div class="container-basic-info">
            <h3>Basic Info</h3>
            <mat-form-field class="full-width">
                <mat-label>Item Name</mat-label>
                <input matInput type="text" formControlName="itemName" placeholder="Item Name">             
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Second Language</mat-label>
                <input matInput type="text" formControlName="secondLanguageName"
                    placeholder="Second language">
            </mat-form-field>
            <div class="grid-textArea">
                <mat-form-field class="full-width">
                    <mat-label>Description</mat-label>
                    <textarea matInput rows="5" placeholder="Ex. This is a combo of pizza and soda..."
                        formControlName="description"></textarea>
                </mat-form-field>
            </div>

            <mat-form-field class="full-width">
                <mat-label>Category</mat-label>
                <select matNativeControl required>
                    <option value="Category 1">Category 1</option>
                    <option value="Category 2">Category 2</option>
                </select>
            </mat-form-field>
            <mat-form-field class="full-width">
            <mat-label>Item Type</mat-label>
            <select matNativeControl required>
                <option value="Menu">Menu Item</option>
                <option value="Retail">Retail Item</option>
            </select>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>SKU</mat-label>
                <input matInput type="text" placeholder="SKU"> 
                <button matButton="tonal" class="buttonGenerate" matSuffix >Generate</button>                   
            </mat-form-field>  

            <mat-form-field class="full-width">
                <mat-label>Barcode</mat-label>
                <input matInput type="text" placeholder="Barcode"> 
                                
            </mat-form-field>  
        </div>

        <div class="container-PriceCosting">


                <div class="grid-itemPriceCostingHeader">Pricing & Costing</div>
                <div class="grid-containerPriceCosting">
                    
                    <div class="grid-itemPriceCosting">
                        <mat-form-field class="full-width">
                            <mat-label>Costing Method</mat-label>
                            <input matInput type="text" placeholder="SKU">                    
                        </mat-form-field>  
                    </div>
                    <div class="grid-itemPriceCosting">   
                        <mat-form-field class="full-width">
                            <mat-label>Cost %</mat-label>
                            <input matInput type="text" placeholder="Cost %">                    
                        </mat-form-field> 
                    </div>
                    <div class="grid-itemPriceCosting">
                        <mat-form-field  class="full-width">
                        <mat-label>Selling Method</mat-label>
                        <select matNativeControl required>
                            <option value="Category 1">Category 1</option>
                            <option value="Category 2">Category 2</option>
                        </select>
                        </mat-form-field>
                    </div>
                    <div class="grid-itemPriceCosting">
                        <mat-form-field class="full-width">
                        <mat-label>Tax Group </mat-label>
                        <select matNativeControl required>
                            <option value="Menu">Menu Item</option>
                            <option value="Retail">Retail Item</option>
                        </select>
                        </mat-form-field>
                    </div>
                    <div class="grid-itemPriceCosting">                    
                    <div class="grid-containerOpenPrice">
                        <div class="grid-itemOpenPrice">
                            <mat-slide-toggle #slideToggle >Open Price</mat-slide-toggle>
                        </div>
                        <div class="grid-itemOpenPrice">
                    <mat-form-field class="full-width">
                            <mat-label>Enter Price</mat-label>
                            <input matInput type="text" placeholder="Enter Price" [disabled]="!slideToggle.checked">                    
                        </mat-form-field> 
                        </div>   
                        </div>
                    </div>
                    <div class="grid-itemPriceCosting">                    
                        <mat-form-field class="full-width">
                            <mat-label>Preparation Time</mat-label>
                            <input matInput type="text" placeholder="Preparation Time">                    
                        </mat-form-field> 
                    </div>
                    <div class="grid-itemPriceCosting">
                        <mat-form-field>
                        <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="picker">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        
                    </div>
                    <div class="grid-itemPriceCosting">
                       <mat-form-field class="full-width">
                        <mat-label>Tags</mat-label>
                        <input matInput type="text" placeholder="TAGS">                    
                    </mat-form-field>  
                    </div>

                </div>

        </div>


        </div>
        <!-- 2nd column -->
        <div class="container-Column2">
            <div class="container-availability">
                <button type="button" mat-fab extended class="full-width btnAvailability"
                    (click)="openAvailabilityDialog()">
                    <mat-icon>event_repeat</mat-icon>
                    <span>Availability</span>
                </button>
                <mat-chip-set>
                    @for(item of scheduleSummary; track item){
                    <mat-chip>{{ item }}</mat-chip>
                    }
                </mat-chip-set>


            </div>
<div class="container-NetGrossWeight">
                <div class="grid-containerNetGrossWeight">
                    <div class="grid-itemNetGrossWeight">
                    <mat-form-field class="full-width">
                    <mat-label>Gross Weight</mat-label>
                    <input matInput type="text" placeholder="0.000">                    
                </mat-form-field>  
                </div>
                <div class="grid-itemNetGrossWeight">
                    <mat-form-field class="full-width">
                    <mat-label>Cost</mat-label>
                    <input matInput type="text" placeholder="0.000">                    
                </mat-form-field>  
                </div>
                <div class="grid-itemNetGrossWeight">
                    <mat-form-field class="full-width">
                    <mat-label>Net Weight</mat-label>
                    <input matInput type="text" placeholder="0.000">                    
                </mat-form-field>  
                </div>

                <div class="grid-itemNetGrossWeight">
                    <mat-form-field class="full-width">
                    <mat-label>Markup</mat-label>
                    <input matInput type="text" placeholder="0.000">                    
                </mat-form-field>  
                </div>
                 <div class=".grid-itemNetGrossWeight-Solo">
                    <mat-form-field class="full-width">
                    <mat-label>Calories</mat-label>
                    <input matInput type="text" placeholder="0.000">                    
                </mat-form-field>  
                </div>

            </div>
        </div>

        </div>
        
      <!-- 3rd column -->

    <div class="container-Column3">
        <div class="container-utility">
            <h3>Utilities</h3>
            <div class="container-utlity-content">
                <div class="grid-image">
                    <button type="button" mat-icon-button class="btnImage" (click)="openUploadDialog()">
                        @if (previewImage) {
                        <img [src]="previewImage" alt="Uploaded" class="uploaded-image" />
                        } @else {
                        <mat-icon class="icon-image">add_a_photo</mat-icon>
                        }
                    </button>
                     

                </div>
                <div class="grid-toggle-buttons">
                    <mat-slide-toggle formControlName="webShop" class="toggle-button">
                        Web Shop
                    </mat-slide-toggle>
                    <mat-slide-toggle formControlName="aggregator" class="toggle-button">
                        Aggregator
                    </mat-slide-toggle>
                    <mat-slide-toggle formControlName="kiosk" class="toggle-button">
                        Kiosk
                    </mat-slide-toggle>
                    <mat-slide-toggle formControlName="counterTop" class="toggle-button">
                        Counter Top
                    </mat-slide-toggle>
                </div>
                <div class="_grid-icon-picker">
                    <div style="font: var(--mat-sys-label-small); margin-top: 10px;">
                        <span>ICON PICKER : </span>
                    </div>
                    <button [disabled]="previewImage"
                        matTooltip="If no image is provided, an icon can be selected to use as the category image."
                        type="button" mat-icon-button class="iconSelector" class="icon-picker"
                        [matMenuTriggerFor]="iconMenu">
                        <mat-icon class="icon-picker-image">{{ selectedIcon }}</mat-icon>
                    </button>

                    <mat-menu #iconMenu="matMenu" class="icon-menu">
                        <div class="icon-grid">
                            @for(icon of icons; track icon) {
                            <button mat-icon-button (click)="selectIcon(icon)">
                                <mat-icon>{{ icon }}</mat-icon>
                            </button>
                            }
                        </div>
                    </mat-menu>
                </div>
                <div class="grid-background-picker">
                    <div style="font: var(--mat-sys-label-small);">
                    <span>BACKGROUND PICKER :</span>
                </div>
                <div>
                    <button type="button" class="background-selector" [matMenuTriggerFor]="backgroundMenu"
                        [style.backgroundColor]="selectedBackgroundColor" matButton="outlined">

                    </button>
                    <mat-menu #backgroundMenu="matMenu" class="background-menu">
                        <div class="background-grid">
                            @for(background of background_colors; track background) {
                            <button type="button" matButton="outlined" class="background-picker" [style.backgroundColor]="background"
                                (click)="selectedBackgroundColor(background)">
                            </button>
                            }
                        </div>
                    </mat-menu>
                </div>


                </div>
            </div>
            





        </div>
        
    </div>  


    </div>
</form>

<!--



<div class="grid-5cS3-7r">
    <mat-form-field class="full-width">
        <mat-label>Ingredient Cost</mat-label>
        <input matInput type="text" placeholder="Ingredient Cost">                    
    </mat-form-field>  
    <mat-form-field class="full-width">
        <mat-label>Calories</mat-label>
        <input matInput type="text" placeholder="Calories">                    
    </mat-form-field> 
</div>



            
            <div class="grid-Cost">
                <mat-form-field class="full-width">
                    <mat-label>Cost %</mat-label>
                    <input matInput type="text" placeholder="Cost %">                    
                </mat-form-field> 
                <mat-form-field class="full-width">
                    <mat-label>Salt Content</mat-label>
                    <input matInput type="text" placeholder="Salt Content">                    
                </mat-form-field>  
            </div>


        -->




