@use '@angular/material' as mat;

form {
  display: contents;
  margin: 0;
  padding: 0;
  border: none;
}

.container-flex2 {
  display: grid;
  grid-template-columns: repeat(9, 150px);
  justify-content: center;
  gap: 20px;
}

@media (max-width: 600px) {

  .container-flex2 {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  gap: 10px;
}
}

.container-basic-info {
  display: flex;
  flex-direction: column;
  grid-column: 1 / span 3;
  grid-row: 1;
  box-shadow: var(--mat-sys-level3);
  text-align: center;
  padding: 15px;
  margin-bottom: 10px;
  height: 505px;
}

.container-availability {
  display: flex;
  flex-direction: column;
  grid-column: 4 / span 3;
  grid-row: 1  / span 3;
  box-shadow: var(--mat-sys-level3);
  padding: 15px;
  margin-bottom: 20px;
  grid-template-rows: repeat(10, 60px);
  height: 505px;
}

.container-utility {
  display: flex;
  flex-direction: column;
  text-align: center;
  grid-column: 7 / span 3;
  grid-row: 1;
  box-shadow: var(--mat-sys-level3);
  padding: 15px;
  height: 505px;
}

.container-utlity-content {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  grid-column: 7 / span 3;
  grid-row: 1;
  text-align: center;
  margin-bottom: 20px;
  
}

.classMargin{
  margin-top: 15px;
  margin-bottom: 15px;
}


.container-Column1 {
  display: flex;
  flex-direction: column;
  grid-column: 1 / span 3;
  grid-row: 1;
  height: auto;
}


.container-Column2 {
  display: flex;
  flex-direction: column;
  grid-column: 4 / span 3;
  grid-row: 1;
  //box-shadow: var(--mat-sys-level3);
  //padding: 15px;
  //margin-bottom: 20px;
}


.container-Column3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  grid-column: 7 / span 3;

}






//Price&Costing





.container-PriceCosting {
  display: flex;
  flex-direction: column;
  grid-column: 4 / span 3;
  grid-row: 4;
  box-shadow: var(--mat-sys-level3);
  padding: 15px;
  margin-bottom: 20px;
}

.grid-containerPriceCosting {
  display: grid;
  grid-template-columns: repeat(2, 225px);
  grid-template-rows: repeat(5, 60px);
  gap: 10px;  
  margin-top: 10px;
  height: 320px;
}


.grid-itemPriceCostingHeader {
  //background-color: #90caf9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 4px;
  width: 100%;  
  margin-top: 1px;
  margin-bottom: 10px;
}


.grid-itemPriceCosting {
  //background-color: #90caf9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 4px;
  width: 100%;

}

.grid-containerOpenPrice {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  grid-template-rows: repeat(1, 40px);
  gap: 10px;

}

.grid-itemOpenPrice {
  //background-color: #90caf9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 4px;
  width: 100%;

}



// END - Price&Costing


// Utilities


.grid-containerUtilities {
  display: grid;
  grid-template-columns: repeat(1, 225px);
  grid-template-rows: repeat(1, 300px);
  gap: 10px;
}

// END - Utilities


// NetGrossWeight

.container-NetGrossWeight  {
  display: flex;
  flex-direction: column;
  grid-column: 7 / span 3;
  grid-row: 4;
  box-shadow: var(--mat-sys-level3);
  padding: 15px;
  margin-bottom: 20px;
  
}


.grid-containerNetGrossWeight {
  display: grid;
  grid-template-columns: repeat(2, 225px);
  grid-template-rows: repeat(5, 60px);
  gap: 10px;
  margin-top: 30px;
  height: 320px;
}

.grid-itemNetGrossWeight{
  //background-color: #90caf9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 4px;
  width: 100%;

}


.grid-itemNetGrossWeight-Solo{
  //background-color: #90caf9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 4px;
  width: 100%;

}





// END - NetGrossWeight



.grid-image{
  grid-column: 1;
  grid-row: 1;
}

.grid-toggle-buttons {
  text-align: left;
  align-items: center;
  grid-column: 3;
  grid-row: 1;
}

._grid-icon-picker{
  grid-column: 1;
  grid-row: 2;
}

.grid-background-picker{
  margin-top: 50px;
  grid-column: 2;
  grid-row: 2;
}

.header-flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.background-selector {
  width: 100px;
  height: 100px;
  @include mat.button-overrides((outlined-container-shape: 5px,
    ))
}

.background-picker {
  margin: 1px;
  margin-left: 4px;
  @include mat.button-overrides((outlined-container-shape: 5px,
    ))
}

.icon-picker {
  width: 150px;
  height: 150px;
  padding: 0;
  @include mat.icon-button-overrides((container-shape: 5px));
  border: #aaaaaa 2px dashed;
}

.icon-picker-image {
  font-size: 90px;
  width: 90px;
  overflow: visible;
}

.icon-menu {
  overflow: hidden !important;
}

.icon-grid {
  overflow: hidden !important;
}


.btnRadius {
  border-radius: 5px;
  width: 150px;
}

.btnImage {
  width: 250px;
  height: 250px;
  padding: 0;
  @include mat.icon-button-overrides((container-shape: 5px));
  border: #aaaaaa 2px dashed;
}

.btnAvailability {
  height: 40px;
  border-radius: 5px;
  @include mat.fab-overrides((extended-container-elevation-shadow: 0,
    ));
}

.icon-image {
  font-size: 120px;
  width: 220px;
  overflow: visible;
}

.uploaded-image {
  width: 250px;
  height: 250px;
  object-fit: scale-down;
}

.spacer {
  flex-grow: 1;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
  margin-bottom: 10px;
}

.toggle-button {
  @include mat.slide-toggle-overrides((handle-shape: 5px,
      track-shape: 5px,
      label-text-weight: 500,
    ));
  margin-bottom: 10px;
}

.categoryImg {
  vertical-align: middle;
  margin-right: 8px;
}

[dir='rtl'] .categoryImg {
  margin-right: 0;
  margin-left: 8px;
}