@use '@angular/material' as mat;

::host {
    overflow: hidden;
}

h1 {
    font: var(--mat-sys-headline-large);
}

.container {
    padding: 16px;
}

.cf {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
    height: calc(100vh - 220px);
}

@media (max-width: 600px) {

    .container {
        overflow: visible;
    }

    .cf {
        flex-direction: column;

    }

}

.f-50 {
    flex: 50%;
}

.imgIcon {
    width: 60px;
    height: 60px;
    font-size: 50px;
}

.imgIcon-preview {
    width: 550px;
    height: 550px;
    font-size: 500px;
}

.btnBrowse {
    width: 100%;
    @include mat.button-overrides(
        (filled-container-shape: 5px)
    )
}

.btnRadius-text{
    @include mat.button-overrides(
        (text-container-shape: 5px)
    )
}

.btnRadius-filled {
    margin-left: 10px;
    @include mat.button-overrides(
        (filled-container-shape: 5px)
    )
}

.btnRemove {
    @include mat.button-overrides(
        (filled-container-color: red)
    );
}

.note {
    text-align: center;
    color: #666;
    font: var(--mat-sys-body-medium);
}

.font-image-preview {
    font: var(--mat-sys-display-small);
}

.drop-zone {
    border: 2px dashed #ccc;
    border-radius: 8px;
    padding: 24px;
    text-align: center;
    color: #888;
    transition: border-color 0.3s;
    margin-bottom: 12px;
    cursor: pointer;
    height: 200px;
    justify-content: center;
}

.image-preview-container {

    border: 2px dashed #ccc;
    border-radius: 8px;
    text-align: center;
    color: #888;
    min-height: 500px;
    min-width: 200px;
}

.drop-zone.active {
    border-color: #3f51b5;
    color: #3f51b5;
}

.or-divider {
    text-align: center;
    margin: 12px 0;
    font-weight: bold;
    color: #666;
}

.url-field {
    width: 100%;
    margin-bottom: 16px;
}

.image-preview {
    margin-top: 16px;
    text-align: center;
}

.image-preview img {
    max-width: 660px;
    max-height: 900px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}