<div class="cf">
    <H1>Add Category</H1>
    <span class="spacer"></span>
    <button mat-stroked-button class="btnRadius" [routerLink]="['/menu/categories']">
        Cancel
    </button>
    <button mat-flat-button class="btnRadius">
        Save
    </button>
</div>
<div class="cf">
    <div class="upload-container" (dragover)="onDragOver($event)" (drop)="onDrop($event)"
        (dragleave)="onDragLeave($event)">
        <input type="file" (change)="onFileSelected($event)" hidden #fileInput />
    </div>
    <div>

    </div>
</div>