<form [formGroup]="createCategoryForm" (ngSubmit)="confirmCreate()">
    <div class="header-flex">
        <H1>Add Category</H1>
        <span class="spacer"></span>
        <button type="button" class="btnRadius" [routerLink]="['/menu/categories']">
            Cancel
        </button>
        <button type="submit" mat-flat-button class="btnRadius">
            Save
        </button>
    </div>
    <div class="container-flex">
        <button mat-icon-button class="btnImage" (click)="openUploadDialog()">
            <ng-container *ngIf="uploadedImage; else defaultIcon">
                <img [src]="uploadedImage" alt="Uploaded" class="uploaded-image" />
            </ng-container>
            <ng-template #defaultIcon>
                <mat-icon class="icon-image">add_a_photo</mat-icon>
            </ng-template>
        </button>
        <div class="grid-container">
            <div>
                <mat-form-field class="full-width">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" formControlName="category_name" placeholder="Ex. Combo 1">
                    <mat-error *ngIf="categoryName.hasError('required')">Category Name is required</mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="full-width">
                    <mat-label>Second Language</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="grid-slideContainer">
                <mat-slide-toggle class="toggle-button">
                    Web Shop
                </mat-slide-toggle>
                <mat-slide-toggle class="toggle-button">
                    Aggregator
                </mat-slide-toggle>
                <mat-slide-toggle class="toggle-button">
                    Kiosk
                </mat-slide-toggle>
            </div>
            <div>
                <mat-form-field class="full-width">
                    <mat-label>Parent Category</mat-label>
                    <input matInput [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete"></mat-autocomplete>
                </mat-form-field>
            </div>
            <div>
                <button type="button" mat-fab extended class="full-width btnAvailability">
                    <mat-icon>event_repeat</mat-icon>
                    <span>Availability</span>
                </button>
            </div>
            <div class="grid-textArea">
                <mat-form-field class="full-width">
                    <mat-label>Description</mat-label>
                    <textarea matInput rows="5" placeholder="Ex. This is a combo of pizza and soda..."></textarea>
                </mat-form-field>
            </div>
            <div>
                <div style="font-weight: 500;">
                    <span>Icon Picker : </span>
                </div>
                <button type="button" mat-icon-button class="iconSelector" class="icon-picker"
                    [matMenuTriggerFor]="iconMenu">
                    <mat-icon class="icon-picker-image">{{ selectedIcon }}</mat-icon>
                </button>



                <mat-menu #iconMenu="matMenu" class="icon-menu">
                    <div class="icon-grid">
                        <button mat-icon-button *ngFor="let icon of icons" (click)="selectIcon(icon)">
                            <mat-icon>{{ icon }}</mat-icon>
                        </button>
                    </div>
                </mat-menu>
            </div>
            <div>
                <mat-form-field class="full-width">
                    <mat-label>SKU</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
        </div>
    </div>
</form>