.header-flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.container-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 350px 350px 200px;
  gap: 1rem;
}

.grid-slideContainer{
  grid-column: 3;
  grid-row: 1 / span 10;
}

.grid-textArea {
  grid-column: 1 / span 2;;
}


.btnRadius {
  border-radius: 5px;
  width: 150px;
}

.btnImage {
  width: 250px;
  height: 250px;
  padding: 0;
  border-radius: 0;
  background-color: #e7e7e7;
}

.btnAvailability {
  height: 40px;
  border-radius: 5px;
}

.icon-image {

  font-size: 120px;
  width: 220px;
  overflow: visible;

}

.upload-container {
  width: 450px;
  height: 250px;
  background-color: #aaaaaa;
  border-radius: 10px;
  text-align: center;
  color: white;
  border: 2px dashed white;
  cursor: pointer;
}

.spacer {
  flex-grow: 1;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
  margin-bottom: 10px;
}

@media (max-width: 600px) {

  .container-flex {
    flex-direction: column;
    margin-left: 5px;
  }
  .grid-container {
    display: flex;
    flex-direction: column;
  }

}