@use '@angular/material' as mat;

form {
  display: contents;
  margin: 0;
  padding: 0;
  border: none;
}

.header-flex {
  display: flex;
  align-items: center;
  gap: 1rem;
  
}

.header-flex-center{
    justify-content: center;
}

.container-flex {
  display: grid;
  grid-template-columns: repeat(9, 150px);
  justify-content: center;
  gap: 20px;
}

.container-textbox {
  display: flex;
  flex-direction: column;
  grid-column: 1 / span 4;
  grid-row: 1;
  box-shadow: var(--mat-sys-level3);
  text-align: center;
  padding: 15px;
}
.container-utility {
  display: flex;
  flex-direction: column;
  text-align: center;
  grid-column: 5 / span 4;
  grid-row: 1;
  box-shadow: var(--mat-sys-level3);
  padding: 15px;
}

.container-utlity-content {
  display: grid;
  grid-template-columns: repeat(150, 200px);
  grid-column: 7 / span 3;
  grid-row: 1;
  text-align: center;
}

.grid-image{
  grid-column: 1;
  grid-row: 1;
  margin-left: 50px;
  margin-right: 20px;
}

.grid-toggle-buttons {
  display: flex;
  flex-direction: column;
  // text-align: left;
  // align-items: center;
  grid-column: 3;
  grid-row: 1;
  align-self: center;
  align-items: start;
}
.inputSearch{
  width: 100%;
}
.grid-container-center {
justify-content: center;
}


.btnRadius {
  border-radius: 5px;
  width: 150px;
  
}

.btnImage {
  width: 250px;
  height: 250px;
  padding: 0;
  @include mat.icon-button-overrides(
    (
      container-shape: 5px
    )
  );
  border: #aaaaaa 2px dashed;
}


.icon-image {
  font-size: 120px;
  width: 220px;
  overflow: visible;
}

.uploaded-image {
  width: 250px;
  height: 250px;
  object-fit: scale-down;
}

.spacer {
  flex-grow: 1;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
  margin-bottom: 10px;
}

.toggle-button {
  @include mat.slide-toggle-overrides((
    handle-shape: 5px,
    track-shape: 5px,
    label-text-weight: 500,
  ));
  margin-bottom: 10px;
}

@media (max-width: 600px) {

.container-flex {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  gap: 10px;
}

}
