<form [formGroup]="createCategoryForm" (ngSubmit)="confirmCreate()">
    <div class="header-flex">
        <H1>Create modifier option</H1>
        <span class="spacer"></span>
        <button type="button" mat-stroked-button class="btnRadius" [routerLink]="['/menu/modifier-group']">
            Cancel
        </button>
        <button type="submit" mat-flat-button class="btnRadius">
            Save
        </button>
    </div>
    <div class="container-flex">
        <button type="button" mat-icon-button class="btnImage" (click)="openUploadDialog()">
            <ng-container *ngIf="uploadedImage; else defaultIcon">
                <img [src]="uploadedImage" alt="Uploaded" class="uploaded-image" />
            </ng-container>
            <ng-template #defaultIcon>
                <mat-icon class="icon-image">add_a_photo</mat-icon>
            </ng-template>
        </button>
        <div class="grid-container">
            <div class="grid-1cS3-1r">
                <mat-form-field class="full-width">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" formControlName="category_name" placeholder="Ex. Combo 1">
                    <mat-error *ngIf="categoryName.hasError('required')">Name is required</mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Modifier</mat-label>
                    <input matInput type="text" formControlName="category_name" placeholder="Ex. Combo 1">
                    <!-- <mat-error *ngIf="categoryName.hasError('required')">Name is required</mat-error> -->
                </mat-form-field>
                <div class="sku-row">
                    <mat-form-field class="sku-field full-width">
                        <mat-label>SKU</mat-label>
                        <input matInput type="text" formControlName="category_name" placeholder="Ex. Combo 1">
                    </mat-form-field>

                    <button type="submit" mat-flat-button class="btnRadius btn-generate">
                        Generate
                    </button>
                </div>

                <mat-form-field class="full-width">
                    <mat-label>Price</mat-label>
                    <input matInput type="text" formControlName="category_name" placeholder="Ex. Combo 1">
                    <!-- <mat-error *ngIf="categoryName.hasError('required')">Name is required</mat-error> -->
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Tax Group</mat-label>
                    <mat-select>
                        <mat-option value="Option">Option 1</mat-option>
                        <mat-option value="Option">Option 2</mat-option>
                        <mat-option value="Option">Option 3</mat-option>
                        <mat-option value="Option">Option 4</mat-option>
                    </mat-select>




                    
                    <!-- <input matInput type="text" formControlName="category_name" placeholder="Ex. Combo 1"> -->
                        <!-- <mat-error *ngIf="categoryName.hasError('required')">Name is required</mat-error> -->
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Costing Method</mat-label>
                    <mat-select>
                        <mat-option value="Option">Option 1</mat-option>
                        <mat-option value="Option">Option 2</mat-option>
                        <mat-option value="Option">Option 3</mat-option>
                        <mat-option value="Option">Option 4</mat-option>
                    </mat-select>
                    <!-- <input matInput type="text" formControlName="category_name" placeholder="Ex. Combo 1"> -->
                        <!-- <mat-error *ngIf="categoryName.hasError('required')">Name is required</mat-error> -->
                </mat-form-field>

                 <mat-form-field class="full-width">
                    <mat-label>Name Localized</mat-label>
                    <input matInput type="text" formControlName="category_name" placeholder="Ex. Combo 1">
                        <!-- <mat-error *ngIf="categoryName.hasError('required')">Name is required</mat-error> -->
                </mat-form-field>
            </div>
            
           
            <!-- <div class="grid-4cS2-1r">
                <mat-form-field class="full-width">
                    <mat-label>Second Language</mat-label>
                    <input matInput>
                </mat-form-field>
            </div> -->
            <div class="grid-slideContainer">
                <mat-slide-toggle class="toggle-button">
                    Web Shop
                </mat-slide-toggle>
                <mat-slide-toggle class="toggle-button">
                    Aggregator
                </mat-slide-toggle>
                <mat-slide-toggle class="toggle-button">
                    Kiosk
                </mat-slide-toggle>
                <mat-slide-toggle class="toggle-button">
                    Counter Top
                </mat-slide-toggle>
            </div>
        </div>
    </div>
</form>