<form (ngSubmit)="confirmCreate()">
    <div class="header-flex">
        <H1>Properties</H1>
        <span class="spacer"></span>

        <button type="buttopn" mat-stroked-button class="btnRadius">
            Item Details
        </button>
        <button type="buttopn" mat-flat-button class="btnRadius" [routerLink]="['/menu/item/properties']">
            Properties
        </button>

        <button type="buttopn" mat-flat-button class="btnRadius">
            Allergens
        </button>
        <button type="buttopn" mat-flat-button class="btnRadius">
            Recipes
        </button>        

        <button type="buttopn" mat-stroked-button class="btnRadius" [routerLink]="['/menu/item']">
            Cancel
        </button>
        <button type="buttopn" mat-flat-button class="btnRadius">
            Save
        </button>
    </div>

<div class="container-accordion">
             <button matButton type="button" (click)="accordion().openAll()">Expand All</button>
            <button matButton type="button" (click)="accordion().closeAll()">Collapse All</button>
            <mat-accordion multi class="accordion-container">
                <mat-expansion-panel expanded>
                    <mat-expansion-panel-header>
                        <mat-panel-title> <mat-icon
                                style="margin-right: 20px; font-weight: 0; color: rgb(92, 92, 92);">insert_invitation</mat-icon>
                            Modifier </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="creation-details-table-container">
                        <table>
                            <colgroup>
                                <col span="4" class="creation-details-table">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>Created By</th>
                                    <th>Created At</th>
                                    <th>Last Modified By</th>
                                    <th>Last Modified At</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Agie Arellano</td>
                                    <td>Sep 1, 2025, 03:17 PM</td>
                                    <td>Agie Arellano</td>
                                    <td>Sep 1, 2025, 03:17 PM</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-expansion-panel>            
                
                <mat-expansion-panel expanded>
                    <mat-expansion-panel-header>
                        <mat-panel-title> <mat-icon
                                style="margin-right: 20px; font-weight: 0; color: rgb(92, 92, 92);">menu_book</mat-icon>
                            Assigned Store </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-chip-set>
                        <mat-chip>
                            Store 1
                            <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                        <mat-chip>
                            Store 2
                            <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                        <mat-chip>
                            Store 3
                            <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                        <mat-chip>
                            Store 4
                            <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                    </mat-chip-set>
                </mat-expansion-panel>
                
                <mat-expansion-panel expanded>
                    <mat-expansion-panel-header>
                        <mat-panel-title> <mat-icon>store</mat-icon>
                            Set of Stock </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-chip-set>
                        <table mat-table class="full-width" >
                        <tr>
                            <ng-container matColumnDef="Name">
                                <th mat-header-cell  mat-sort-header> Store name </th>                            
                            </ng-container>
                            <ng-container >                
                            <td mat-cell > &nbsp;</td>
                        </ng-container>
                          <ng-container >                
                            <td mat-cell > 
                                 &nbsp;
                            </td>
                        </ng-container>
                        </tr>
                        <tr>
                        <ng-container matColumnDef="Name">               
                            <td mat-cell >
                                    <mat-form-field>
                                        <mat-label>Change to in Stock</mat-label>
                                        <mat-select required>
                                            <mat-option value="Store 1">Store 1</mat-option>
                                            <mat-option value="Store 2">Store 2</mat-option>
                                            <mat-option value="Store 3">Store 3</mat-option>
                                            <mat-option value="Store 4">Store 4</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container >                
                            <td mat-cell > 
                                <mat-slide-toggle >Change to Active</mat-slide-toggle> 
                            </td>
                        </ng-container>

                        <ng-container>                
                            <td mat-cell >
                            <button matFab aria-label="Delete">
                                <mat-icon>delete</mat-icon>
                            </button>    
                            </td>
                        </ng-container>
                        </tr>
                        </table>
                          <div class="full-width divAddStore">
                            <button type="button" matButton class="btnRadius">
                            Click add Store
                            </button>
                        </div>
                    </mat-chip-set>
                </mat-expansion-panel>


                <mat-expansion-panel expanded>
                    <mat-expansion-panel-header>
                        <mat-panel-title> <mat-icon>store</mat-icon>
                           Promotion</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-chip-set>
                        <table mat-table class="full-width" >
                        <tr>
                            <ng-container matColumnDef="Name">
                                <th > Name </th>                            
                            </ng-container>
                            <ng-container >                
                                <td mat-cell > Reference</td>
                            </ng-container>
          
                        </tr>
                        <tr>
                        <ng-container matColumnDef="Name">               
                            <td mat-cell >
                                Happy Hour ECT
                            </td>
                        </ng-container>

                        <ng-container >                
                            <td mat-cell > 
                                Happy Hour ECT
                            </td>
                        </ng-container>
                        </tr>
                        <tr>
                        <ng-container matColumnDef="Name">               
                            <td mat-cell >
                                Meal Promotion
                            </td>
                        </ng-container>

                        <ng-container >                
                            <td mat-cell > 
                                Meal Promotion For Week end
                            </td>
                        </ng-container>
                        </tr>
                        
                        </table>
                          <div class="full-width divAddStore">
                            <button type="button" matButton class="btnRadius">
                            Click add Store
                            </button>
                        </div>
                    </mat-chip-set>
                </mat-expansion-panel>


                <mat-expansion-panel expanded>
                    <mat-expansion-panel-header>
                        <mat-panel-title> <mat-icon>store</mat-icon>
                           Price-List</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-chip-set>
                        <table mat-table class="full-width" >
                        <tr>
                            <ng-container matColumnDef="Name">
                                <td > Name </td>                            
                            </ng-container>
                            <ng-container >                
                                <td mat-cell > Store</td>
                            </ng-container>
                            <ng-container >                
                                <td mat-cell > Price</td>
                            </ng-container>                            
                        </tr>
                        <tr>
                        <ng-container matColumnDef="Name">               
                            <td mat-cell >
                                Happy Hour ECT
                            </td>
                        </ng-container>

                        <ng-container >                
                            <td mat-cell > 
                                Happy Hour ECT
                            </td>
                        </ng-container>
                        </tr>
                        <tr>
                        <ng-container matColumnDef="Name">               
                            <td mat-cell >
                                Meal Promotion
                            </td>
                        </ng-container>

                        <ng-container >                
                            <td mat-cell > 
                                Meal Promotion For Week end
                            </td>
                        </ng-container>
                        </tr>
                        
                        </table>
                          <div class="full-width divAddStore">
                            <button type="button" matButton class="btnRadius">
                            Click add Store
                            </button>
                        </div>
                    </mat-chip-set>
                </mat-expansion-panel>

                <mat-expansion-panel expanded>
                    <mat-expansion-panel-header>
                        <mat-panel-title> <mat-icon>store</mat-icon>
                           Nutrition Values</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-chip-set>
                        <table mat-table class="full-width" >
                        <tr>
                            <ng-container matColumnDef="Name">
                                <td > Name </td>                            
                            </ng-container>
                            <ng-container >                
                                <td mat-cell > Value</td>
                            </ng-container>
                            <ng-container >                
                                <td mat-cell > UOM</td>
                            </ng-container>                            
                        </tr>
                        <tr>
                        <ng-container matColumnDef="Name">               
                            <td mat-cell >
                                Happy Hour ECT
                            </td>
                        </ng-container>

                        <ng-container >                
                            <td mat-cell > 
                                Happy Hour ECT
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Name">               
                            <td mat-cell >
                                grams
                            </td>
                        </ng-container>
                        </tr>

                        <tr>
                        <ng-container matColumnDef="Name">               
                            <td mat-cell >
                                Meal Promotion
                            </td>
                        </ng-container>

                        <ng-container >                
                            <td mat-cell > 
                                Meal Promotion For Week end
                            </td>
                        </ng-container>

                                           <ng-container >                
                            <td mat-cell > 
                                mg
                            </td>
                        </ng-container>
                        </tr>

                        
                        </table>
                          <div class="full-width divAddStore">
                            <button type="button" matButton class="btnRadius">
                            Click add Store
                            </button>
                        </div>
                    </mat-chip-set>
                </mat-expansion-panel>
            </mat-accordion>




         </div>


</form>
