:host * {
  transition: all 500ms ease-in-out;
}

.dash-viewer-sidenav-container {
  flex: 1;
  box-sizing: border-box;
}

.dash-sidenav-viewer {
  overflow: auto;
}

.dash-sidenav-content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}


.dash-sidenav-inner-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.dash-sidenav-body-content {
  display: flex;
  flex: 1 1 auto;
}

.dash-content-viewer {
  font-weight: 400;
  width: 100%;
  padding: 10px;

  @media (max-width: 720px) {
    width: calc(100% - 100px);
  }

  @media (max-width: 599px) {
    width: calc(100% - 10px);
    padding: 0px;
    margin-bottom: 10px;
  }
}

.icon-nav {
  width: 30px;
  height: 30px;
  font-size: 30px;
}

.item-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 70px;
  padding: 10px;
}


.icon-nav-grid {
  grid-column: 1;
  grid-row: 1;
}

.nav-title-grid {
  font-size: 12px;
  grid-column: 1 span 2;
  grid-row: 2;
}

.arrow-right-grid {
  grid-column: 2;
  grid-row: 1;
}

.font-nav {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 10px;
  color: rgb(0, 0, 0);
}

.dash-viewer-nav {
  position: sticky;
  top: 0;

  .dash-viewer-nav-content {
    border-right: 1px solid var(--mat-sys-outline-variant);
    width: 130px;
    //padding: 16px 8px;
    height: calc(100vh - 75px);
    overflow: auto;
    box-sizing: border-box;
    transition: width 0.3s ease;

    &::-webkit-scrollbar {
      height: 4px;
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, .26);
    }
  }

  .dash-viewer-nav-content.collapsed {
    width: 60px;
    padding: 16px 0;

    .logo-container {
      width: 50px;
      height: 30px;
      margin-bottom: 30px;
      margin-left: 5px;
    }
  }
}

.img-container {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 30px;
  margin-top: 30px;
}

.logo-container {
  width: 100px;
  height: 50px;
  padding: 10px;
  animation-name: logo-container;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

// @keyframes logo-container {
//   from {background-color: #ece0d1;}
//   to {background-color: 	#967259;}
// }

.item-selected {
  background-color: var(--mat-sys-outline-variant) !important;
  font-weight: 900 !important;
}

.item-selected .mat-icon {
  color: inherit;
  font-weight: 900 !important;
}

a.mdc-list-item {
  color: var(--mat-sys-primary);
  border-radius: 3px !important;
  --mat-focus-indicator-border-radius: 3px !important;
}

@media (max-width: 720px) {

  .dash-viewer-sidenav-container {
    flex: 1 0 auto;
  }

  .dash-sidenav-body-content {
    flex-direction: column;
  }

  .dash-sidenav-body-content .dash-sidenav-viewer {
    z-index: 4;
  }

  .dash-viewer-nav {
    position: relative;
    top: 0;

    .dash-viewer-nav-content {
      width: 100%;
      border: none;
      margin: 0;
    }

  }

  .logo-container {
    width: 200px;
    height: 100px;
    padding: 10px;
    margin-left: 50px;
  }
}

::ng-deep .cdk-overlay-pane .custom-side-menu {
  background-color: var(--mat-sys-background);
  position: fixed !important;
  top: 57px !important;
  left: 130px !important;
  border: solid 1px var(--mat-sys-outline-variant);
  height: calc(100vh - 75px) !important;
  width: 300px !important;
  overflow-y: auto;
  border-radius: 0;
  box-shadow: none;
}

.menu-title {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-bottom: solid 1px var(--mat-sys-outline-variant);
}

.icon2 {
  color: var(--mat-sys-primary);
  margin-right: 10px;
}