<div class="container">
    <div class="inner-container">
        <div class="widget-container">
            <div class="card">
                <div class="card-container-content">
                    <div class="card-content">
                        <mat-icon class="icon-styles reciept-icon">receipt</mat-icon>
                        <H6>123</H6>
                        <H5>Purchase Orders</H5>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-container-content">
                    <div class="card-content">
                        <mat-icon class="icon-styles currency-exchange-icon">swap_horiz</mat-icon>
                        <H6>10</H6>
                        <H5>Complete Transfers</H5>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-container-content">
                    <div class="card-content">
                        <mat-icon class="icon-styles credit-score-icon">credit_score</mat-icon>
                        <H6>10</H6>
                        <H5>Recieving</H5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>