<div class="main-container">

    <div class="main-container">
                <H2>Allergens</H2>
            
            <span class="spacer"></span>

            <button type="button" mat-flat-button class="btnRadius" [routerLink]="['/menu/item']">
                Item Details
            </button>
            <button type="button" mat-flat-button class="btnRadius" [routerLink]="['/menu/item/properties']">
                Properties
            </button>

            <button type="button" mat-flat-button class="btnRadius" [routerLink]="['/menu/item/allergens']">
                Allergens
            </button>
            <button type="button" mat-flat-button class="btnRadius"  [routerLink]="['/menu/item/recipe']">
                Recipes
            </button>  
    </div>
<!-- [dataSource]="MENU_ITEMS_DATA" (matSortChange)="announceSortChange($event)"-->

        <va-mat-table>
        <div class="tableContainer">
        <table mat-table  class="full-width mat-elevation-z8" >



<!--
            <ng-container matColumnDef="Image">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Image </th>
                <td mat-cell *matCellDef="let menu_cat"> {{menu_cat.reference}} </td>
            </ng-container>

            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Item name </th>
                <td mat-cell *matCellDef="let menu_cat"> {{menu_cat.category_name}} </td>
            </ng-container>

            <ng-container matColumnDef="Sku">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> SKU </th>
                <td mat-cell *matCellDef="let menu_cat"> {{menu_cat.image}} </td>
            </ng-container>


            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> category </th>
                <td mat-cell *matCellDef="let menu_cat"> {{menu_cat.schedule}} </td>
            </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

-->

            <ng-container matColumnDef="Items">
                <tr mat-header-row >
                <td mat-header-cell > Items </td>
                 <td> DOES NOT CONTAIN </td>
                 <td> MAY CONTAIN </td>
                 <td> CONTAINS </td>
                 </tr>
            </ng-container>

            <ng-container matColumnDef="">
                <tr mat-row>
               <td mat-cell >Casein </td>
               <td mat-cell > 
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1"></mat-radio-button>
                </mat-radio-group>
                </td>
               <td mat-cell >
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1"></mat-radio-button>
                </mat-radio-group>                
                </td>
               <td mat-cell > 
                    <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1"></mat-radio-button>
                </mat-radio-group>
               </td>
               </tr>
            </ng-container>

            <ng-container matColumnDef="">
                <tr mat-row>
               <td mat-cell >Crustacean</td>
               <td mat-cell > 
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1"></mat-radio-button>
                </mat-radio-group>
                </td>
               <td mat-cell >
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1"></mat-radio-button>
                </mat-radio-group>                
                </td>
               <td mat-cell > 
                    <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1"></mat-radio-button>
                </mat-radio-group>
               </td>
               </tr>
            </ng-container>


            <ng-container matColumnDef="">
                <tr mat-row>
               <td mat-cell>Molluscs</td>
               <td mat-cell > 
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1"></mat-radio-button>
                </mat-radio-group>
                </td>
               <td mat-cell >
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1"></mat-radio-button>
                </mat-radio-group>                
                </td>
               <td mat-cell > 
                    <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1"></mat-radio-button>
                </mat-radio-group>
               </td>
               </tr>
            </ng-container>

            



        </table>
        </div>
        </va-mat-table>
</div>
