<div class="tab-viewer-container">
    <div class="tab-viewer">
        <nav mat-tab-nav-bar [tabPanel]="tabPanel" class="docs-component-viewer-tabbed-content" style="outline: none;"
            mat-stretch-tabs="false">
            <a routerLink="categories" routerLinkActive="active" mat-tab-link>
                Categories
            </a>
            <a routerLink="item" routerLinkActive="active" mat-tab-link>
                Item
            </a>
            <a routerLink="modifier-group" routerLinkActive="active" mat-tab-link>
                Modifier Group
            </a>
            <a routerLink="inventory" routerLinkActive="active" mat-tab-link>
                Modifier Option
            </a>
            <a routerLink="inventory" routerLinkActive="active" mat-tab-link>
                Global Custom
            </a>
            <a routerLink="inventory" routerLinkActive="active" mat-tab-link>
                Menu Combo
            </a>
            <a routerLink="inventory" routerLinkActive="active" mat-tab-link>
                Daily Menu
            </a>
            <a routerLink="inventory" routerLinkActive="active" mat-tab-link>
                Price List
            </a>
        </nav>
        <mat-tab-nav-panel #tabPanel class="docs-component-viewer-content">
            <router-outlet></router-outlet>
        </mat-tab-nav-panel>
    </div>
</div>