@use '@angular/material' as mat;

form {
  display: contents;
  margin: 0;
  padding: 0;
  border: none;
}

.breadcrumb {
  cursor: pointer;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(9, 150px);
  justify-content: center;
  gap: 20px;
}

@media (max-width: 600px) {

  .container-grid {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  gap: 10px;
}
}

.container-automation-container {
  display: flex;
  gap: 50px;
  grid-column: 1 / span 9;
  grid-row: 1;
  box-shadow: var(--mat-sys-level3);
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 5px 15px 5px 15px;
}

.container-basic-info {
  display: flex;
  flex-direction: column;
  grid-column: 1 / span 4;
  grid-row: 2;
  box-shadow: var(--mat-sys-level3);
  text-align: center;
  padding: 15px;
}

.container-availability {
  display: flex;
  flex-direction: column;
  grid-column: 5 / span 2;
  grid-row: 2;
  box-shadow: var(--mat-sys-level3);
  padding: 15px;
}

.container-utility {
  display: flex;
  flex-direction: column;
  text-align: center;
  grid-column: 7 / span 3;
  grid-row: 2;
  box-shadow: var(--mat-sys-level3);
  padding: 15px;
}

.container-utlity-content {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  grid-column: 7 / span 3;
  grid-row: 2;
  text-align: center;
}

.container-accordion{
  grid-column: 1 / span 9;
  grid-row: 3;
}

.grid-image{
  grid-column: 1;
  grid-row: 1;
}

.grid-toggle-buttons {
  text-align: left;
  align-items: center;
  grid-column: 3;
  grid-row: 1;
}

._grid-icon-picker{
  grid-column: 1;
  grid-row: 2;
}

.grid-background-picker{
  margin-top: 50px;
  grid-column: 2;
  grid-row: 2;
}

.header-flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}


.background-selector {
  width: 100px;
  height: 100px;
  @include mat.button-overrides((outlined-container-shape: 5px,
    ))
}

.background-picker {
  margin: 1px;
  margin-left: 4px;
  @include mat.button-overrides((outlined-container-shape: 5px,
    ))
}

.icon-picker {
  width: 150px;
  height: 150px;
  padding: 0;
  @include mat.icon-button-overrides((container-shape: 5px));
  border: #aaaaaa 2px dashed;
}

.icon-picker-image {
  font-size: 90px;
  width: 90px;
  overflow: visible;
}

.icon-menu {
  overflow: hidden !important;
}

.icon-grid {
  overflow: hidden !important;
}


.btnRadius {
  border-radius: 5px;
  width: 150px;
}

.btnImage {
  width: 250px;
  height: 250px;
  padding: 0;
  @include mat.icon-button-overrides((container-shape: 5px));
  border: #aaaaaa 2px dashed;
}

.btnAvailability {
  height: 40px;
  border-radius: 5px;
  @include mat.fab-overrides((extended-container-elevation-shadow: 0,
    ));
}

.icon-image {
  font-size: 120px;
  width: 220px;
  overflow: visible;
}

.uploaded-image {
  width: 239px;
  height: 239px;
  object-fit: scale-down;
}

.spacer {
  flex-grow: 1;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
  margin-bottom: 10px;
}

.toggle-button {
  @include mat.slide-toggle-overrides((handle-shape: 5px,
      track-shape: 5px,
      label-text-weight: 500,
    ));
  margin-bottom: 10px;
}

.toggle-button-active {
  @include mat.slide-toggle-overrides((track-width: 45px,
      track-height: 17px,
      selected-handle-color: rgb(100, 194, 100),
      selected-hover-handle-color: rgb(34, 190, 34),
      selected-focus-handle-color: rgb(34, 190, 34),
      selected-focus-track-color: #634832,
      unselected-track-color: #634832,
      unselected-hover-track-color: #634832,
      unselected-hover-state-layer-color: #634832,
      unselected-focus-track-color: #634832,
      unselected-pressed-track-color: #634832,
      selected-icon-color: white,
      unselected-handle-color: rgb(194, 100, 100),
      unselected-hover-handle-color: rgb(180, 39, 39),
      unselected-focus-handle-color: rgb(180, 39, 39),
    ));
}

.categoryImg {
  vertical-align: middle;
  margin-right: 8px;
}

[dir='rtl'] .categoryImg {
  margin-right: 0;
  margin-left: 8px;
}

.accordion-container {
  @include mat.expansion-overrides((
    container-shape: 0px,
    container-elevation-shadow: var(--mat-sys-level3),
  ));
}

.creation-details-table-container {
  display: flex;
  justify-content: center;
}

th {
  font-weight: 500;
  font-size: 14px;
  color: #777777;
  text-align: left;
}

td {
  font-size: 15px;
}

.creation-details-table{
  width: 230px;
}

::ng-deep .mat-expansion-panel-body{
  border: 1px solid #38220f;
  margin-left: 65px;
  margin-right: 50px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: inset 0 0 3px 3px #ece0d1;
  padding: 30px !important;
  margin-bottom: 50px;
}

::ng-deep .mat-expansion-panel-header.mat-expanded {
    height: var(--mat-expansion-header-expanded-state-height, 50px);
}

:host ::ng-deep .p-datepicker-day-selected-range {
    background: #dbc1ac;
    color: #38220f;
}

:host ::ng-deep .p-datepicker-today > .p-datepicker-day {
    background: #dbc1ac;
    color: #38220f;
}

.activation-date-time-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: start;
}

.label-activation-date-time{
  font-size: 12px;
}


