@use '@angular/material' as mat;

va-mat-table {
  display: block;
  width: 100%;
  box-shadow: var(--mat-sys-level2);
}

::ng-deep .mat-mdc-paginator-container {
    justify-content: flex-start !important;
}

.checkbox{
   @include mat.checkbox-overrides((
    
  ));
}

.action-bar-1{
  text-align: left !important;
}

.btnCategory {
    border-radius: 5px;
}

.main-container {
  box-shadow: var(--mat-sys-level2)
}

.menu-container {
    display: flex;
    gap: 10px;
    padding: 5px;
    border-bottom: 1px solid var(--mat-sys-outline-variant);
}

.container-1 {
  justify-content: flex-start;
}

.container-2 {
  justify-content: flex-end;
}

.inputSearch{
  width: 100%;
}

@media (max-width: 599px) {

  .main-container {
    margin-left: 10px;
  }

  .menu-container {
    flex-direction: column;
  }
}

.filter-form {
  min-width: 150px;
  max-width: 950px;
  width: 80%;
  margin: 1.25rem auto 1.2rem auto;
//   margin: 0 auto;
//   margin-bottom: 1.2rem;
//   margin-top: 1.25rem;
  padding-bottom: 24px;
  height: auto;
  display: block;
  overflow: visible;
}
.filter-form-full-width {
  width: 100%;
}
.button-label {
  font-size: 14px;
  margin: 0 16px 0 8px;
  min-width: 120px;
}
.button-row {
  float: right;
  display: flex;
  gap: 10px;
}

.menu-tabs {
  display: flex;
  gap: 1rem;
  // margin-bottom: 1rem;
  // flex-wrap: wrap;
  align-items: center;
  // justify-content: center;
  // width: 100%;

  a {
    text-decoration: none;
    color: inherit;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
    font-weight: 350;
    cursor: pointer;


    &:hover {
      border-bottom-color: rgba(0, 0, 0, 0.2);
    }

    &.active {
      border-bottom: 2px solid #3f51b5; 
      font-weight: 600;
    }
  }
}