@use '@angular/material' as mat;

.main-container {
  box-shadow: var(--mat-sys-level3);
}

.menu-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 10px;
  // border-bottom: 1px solid var(--mat-sys-outline-variant);
}

.category-name {
  max-width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
}

.table-utility-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox-cell {
  width: 50px;
}

.col-name {
  width: 400px;
}

.col-image {
  width: 80px;
}

.col-item {
  width: 120px;
}

.col-toggle {
  width: 80px;
}

.col-toggle-counter-top {
  width: 100px;
}

.col-created {
  width: 160px;
}

.col-toggle-active {
  width: 60px;
}

H2 {
  margin-left: 10px;
}

.spacer {
  flex-grow: 1;
}

.btnCategory {
  border-radius: 5px;
}

.btn-action {
  border-radius: 5px;
}

.selected-count {
  margin-left: 20px;
  color: #634832;
  font-weight: 700;
  font-size: 13px;
  border: 1px solid #38220f;
  padding: 11px;
  border-radius: 5px;
}

.action-bar {
  display: flex;
  padding: 5px 8px;
  border-bottom: 1px solid var(--mat-sys-outline-variant);
  align-items: center;
  gap: 10px;
}

.mat-button-toggle-standalone.mat-button-toggle-appearance-standard,
.mat-button-toggle-group-appearance-standard {
  /* border-radius: var(--mat-button-toggle-shape, var(--mat-sys-corner-extra-large)); */
  border: solid 0px var(--mat-button-toggle-divider-color, var(--mat-sys-outline));
}

.btnToggle {
  @include mat.button-toggle-overrides((shape: 0px,

    ));
  height: 40px
}

::ng-deep .mat-button-toggle-group-appearance-standard .mat-button-toggle {
  border: none !important;
}

:host ::ng-deep .mdc-switch__track::before, .mdc-switch__track::after{
  //border-color: #634832;
  border-width: 0px !important;
}

.slide-toggle {
  @include mat.slide-toggle-overrides((track-width: 45px,
      track-height: 17px,
      selected-handle-color: rgb(100, 194, 100),
      selected-hover-handle-color: rgb(34, 190, 34),
      selected-focus-handle-color: rgb(34, 190, 34),
      selected-focus-track-color: #634832,
      unselected-track-color: #634832,
      unselected-hover-track-color: #634832,
      unselected-hover-state-layer-color: #634832,
      unselected-focus-track-color: #634832,
      unselected-pressed-track-color: #634832,
      selected-icon-color: white,
      unselected-handle-color: rgb(194, 100, 100),
      unselected-hover-handle-color: rgb(180, 39, 39),
      unselected-focus-handle-color: rgb(180, 39, 39),
    ));
}

.icon-edit-container {
  color: #38220f;
  // border: 1px solid #38220f;
  width: 30px;
  height: 30px;
  padding: 0;
  padding-top: 3px;
}

// .icon-edit {

// }

.icon-image {
  text-align: center;
  font-size: 25px;
  width: 25px;
  height: 25px;
  border-radius: 5px;
}

.category-image {
  align-items: center;
  max-width: 25px;
  max-height: 25px;
  border-radius: 5px;
}

:host ::ng-deep .p-treetable.p-treetable-sm .p-treetable-tbody>tr>td {
  padding: 0 !important;
  padding-left: 0.4rem !important;
}

.icon-check {
  color: var(--mat-sys-surface);
}

:host ::ng-deep .p-paginator-page.p-paginator-page-selected {
  background: #38220f;
  color: #ffffff;
}

:host ::ng-deep .p-treetable-scrollable-body {
  overflow-y: hidden !important;
  overflow-x: auto;
}

:host ::ng-deep .p-select-option.p-select-option-selected.p-focus {
  background: #dbc1ac;
  color: #000000;
}

:host ::ng-deep .p-button {
  border: transparent !important;
}

:host ::ng-deep .p-paginator {
  background: var(--mat-sys-surface);
}

.btn-expand {
  width: 25px;
  height: 25px;
  padding: 0;
  padding-top: 2px;
  background-color: #dbc1ac;
}

.icon-expand {
  font-size: 20px;
}

:host ::ng-deep .p-toast {
  top: 70px !important;
  z-index: 9999 !important;
}

.parent-category {
  font-weight: 700;
}

.spinning {
  display: inline-block;
  animation: spin 2s linear infinite;
  margin-left: 10px;
  color: green;
}

/* Define the spin animation */
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

