<div class="main-container">
    <div class="menu-container">
        <H2 class="title">Categories</H2>
        <span class="spacer"></span>
        <button mat-stroked-button [matMenuTriggerFor]="import" class="btnCategory">
            <mat-icon>cloud_queue</mat-icon>
            Import/Export
        </button>
        <mat-menu #import="matMenu">
            <button mat-menu-item>
                <mat-icon>file_download</mat-icon>
                Import Categories
            </button>
            <button mat-menu-item>
                <mat-icon>file_upload</mat-icon>
                Export Categories
            </button>
        </mat-menu>
        <button mat-stroked-button class="btnCategory">
            <mat-icon>sort</mat-icon>
            Sort Categories
        </button>
        <button mat-flat-button class="btnCategory" style="margin-right: 10px;" [routerLink]="['add-category']">
            <mat-icon>add</mat-icon>
            Create Category
        </button>
    </div>
    <div class="action-bar">
        @if(selectedCount() === 0) {
            <mat-button-toggle-group class="btnToggle">
                <mat-button-toggle checked="true">All</mat-button-toggle>
                <mat-button-toggle>Active</mat-button-toggle>
                <mat-button-toggle>Inactive</mat-button-toggle>
                <mat-button-toggle>Archive</mat-button-toggle>
            </mat-button-toggle-group>
            } @else {
            <span class="selected-count">{{ selectedCount() }} Selected</span>
            <button matButton="filled" class="btn-action" [matMenuTriggerFor]="actions">
                Actions
                <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #actions="matMenu">
                <button mat-menu-item>Archive</button>
                <button mat-menu-item (click)="onDeleteSelected(selectedNodes)">Delete</button>
            </mat-menu>
            }
        <span class="spacer"></span>
        <mat-form-field appearance="outline" class="inputSearch">
            <mat-label>Global Search</mat-label>
            <input matInput (input)="dt.filterGlobal($event.target.value, 'contains')">
        </mat-form-field>
        <!-- <p-multiselect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header" selectedItemsLabel="{0} columns selected" [style]="{ width: '20em' }" placeholder="Choose Columns" display="chip" /> -->
        <!-- Column toggle button -->
        <button mat-icon-button [matMenuTriggerFor]="columnsMenu" aria-label="Select Columns">
            <mat-icon>view_column</mat-icon>
        </button>
        <mat-menu #columnsMenu="matMenu">
            @for (col of cols; track col) {
            <button mat-menu-item>
                <mat-checkbox (click)="$event.stopPropagation()" [checked]="selectedColumns.includes(col)"
                (change)="toggleColumn(col, $any($event).checked)">
                    {{ col.header }}
                </mat-checkbox>
            </button>
            }
        </mat-menu>
    </div>
    <p-treetable #dt [value]="treeNodes" 
        selectionMode="checkbox" 
        [(selection)]="selectedNodes"
        (onNodeSelect)="onSelectionChange()"
        (onNodeUnselect)="onSelectionChange()"
        [columns]="selectedColumns" [class]="selectedSize" class="customized-tree-table" scrollable="true"
        [tableStyle]="{'min-width': '800px'}"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"  
        [loading]="loading"
        filterMode="strict" 
        [filterDelay]="0" 
        [globalFilterFields]="['categoryName', 'createdAtFormatted']"
        [paginator]="true" 
        [rows]="50" 
        [rowsPerPageOptions]="[50, 100]" 
        [showCurrentPageReport]="true" 
        [rowHover]="true">
        <ng-template #colgroup>
            <colgroup>
                <col style="width: 30px;" />
                @for (cols of selectedColumns; track cols) {

                <col class="{{cols.styleClass}}" />
                }
                <col style="width: 60px;" />
            </colgroup>
        </ng-template>
        <ng-template #header>
            <tr>
                <th class="checkbox-cell">
                    <p-checkbox class="checkbox" binary="true" [(ngModel)]="allChecked"
                        [indeterminate]="someChecked && !allChecked" (onChange)="toggleAll($event.checked)" />
                </th>
                @for (col of selectedColumns; track col) {
                @if (col.header === 'Name') {
                <th class="{{col.styleClass}}">
                    <p-button class="btn-primeng" [icon]="
                        expandState === 'expanded'
                        ? 'pi pi-angle-down'
                        : expandState === 'collapsed'
                        ? 'pi pi-angle-right'
                        : 'pi pi-minus'" [rounded]="true" [text]="true" (click)="toggleApplications()" />
                    {{ col.header }}
                </th>
                } @else {
                <th class="{{col.styleClass}}">
                    {{ col.header }}
                </th>
                }
                }
                <th>
                </th>
            </tr>

            <tr>
                <th></th>
                @for (col of selectedColumns; track col) {
                <th>
                    @if (col.filter) {
                    @if(col.header === 'Created'){
                    <input pInputText [placeholder]="'Filter by Date'" type="text"
                        (input)="dt.filter($any($event.target).value, 'createdAtFormatted', 'contains')" />
                    } @else {
                    <input pInputText [placeholder]="'Filter by ' + col.header" type="text"
                        (input)="dt.filter($any($event.target).value, col.field, 'contains')" />
                    }
                    }
                </th>
                }
                <th></th>
            </tr>

        </ng-template>
        <ng-template #body let-rowNode let-rowData="rowData">
            <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode">
                <td class="checkbox-cell">
                    <p-treetable-checkbox [value]="rowNode" />
                </td>
                @for (col of selectedColumns; track col) {
                <td class="{{col.styleClass}}">
                    @if (col.field === 'categoryName') {
                    <p-treetable-toggler [rowNode]="rowNode" />
                    <span class="category-name">{{ rowData.categoryName }}</span>
                    } @else if (col.field === 'image') {
                        @if (rowData.image) {
                        <img [src]="rowData.image" class="category-image" loading="lazy" />
                        } @else if (rowData.icon) {
                        <mat-icon class="icon-image">{{rowData.icon}}</mat-icon>
                        }
                    } @else if (col.field === 'item') {
                        {{ getItemLabel(rowData) }}
                    } @else if (['webShop','aggregator','kiosk','counterTop','isActive'].includes(col.field)) {
                        <mat-slide-toggle class="slide-toggle" [(ngModel)]="rowData[col.field]"></mat-slide-toggle>
                    } @else if (col.field === 'createdAt') {
                    {{ rowData.createdAtFormatted }}
                    }
                </td>
                }
                <td>
                    <button matIconButton class="icon-edit"><mat-icon>edit</mat-icon></button>
                </td>
            </tr>
        </ng-template>
    </p-treetable>

</div>