@use "@angular/material" as mat;
@include mat.core();
@import "primeicons/primeicons.css";

$compact-form-theme: mat.define-theme((density: (scale: -4,
            )));

:root {
    //@include mat.all-component-themes($default-theme);
    @include mat.form-field-density($compact-form-theme )
}

:root {
    @include mat.button-toggle-overrides((selected-state-background-color: #dbc1ac,
            selected-state-text-color: #38220f,
            state-layer-color: #38220f));
}

:root {
    @include mat.list-overrides((list-item-focus-state-layer-color: #38220f,
            list-item-hover-state-layer-color: #38220f));
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: var(--mat-sys-background) !important;
    color: var(--mat-sys-on-background) !important;
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}

.viewReportButtonContainer {
    margin-top: 2px;
    display: flex;

    @include mat.button-density(-3);

}

.viewReportButton {
    margin-left: auto;
}

H1 {
    font: var(--mat-sys-headline-large);
}

app-main-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

app-top-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

app-side-nav {
    display: flex;
    flex-direction: column;
    overflow: auto;

    .dash-viewer-footer {
        margin-top: 0;
    }
}

app-main-layout>app-side-nav {
    flex: 1;
    margin-top: 56px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.no-data {
    display: flex;
    justify-content: center;
    color: var(--mat-sys-outline);
    font-size: 1.2rem;
    padding: 10rem;
}

.mat-mdc-dialog-surface{
  border-radius: 5px !important;
}

.icon-helper{
    font-size: 20px;
    font-weight: 600;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.snackbar-success {
    @include mat.snack-bar-overrides((container-shape: 0px,
            container-color: #ece0d1,
            supporting-text-color: #38220f,
            button-color: #38220f));
    border-left: 16px solid #00ff00;
    border-radius: 15px;
}

.snackbar-info {
    @include mat.snack-bar-overrides((container-shape: 0px,
            container-color: #ece0d1,
            supporting-text-color: #38220f,
            button-color: #38220f));
    border-left: 16px solid #2196f3;
    border-radius: 15px;
}

app-info-snackbar {
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: center;
    gap: 20px;
}

app-success-snackbar {
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: center;
    gap: 20px;
}

.breadcrumb {
    --p-breadcrumb-background: var(--mat-sys-surface);
    --p-breadcrumb-item-color: #38220f;
    --p-breadcrumb-item-hover-color: #967259;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 23px;
}

.datepicker-png {
    --p-datepicker-panel-border-color: var(--mat-sys-primary);
    --p-datepicker-panel-border-radius: 3px;
    --p-floatlabel-focus-color: var(--mat-sys-primary);
    --p-floatlabel-active-color: var(--mat-sys-primary);
    --p-inputtext-focus-border-color: var(--mat-sys-primary);
    --p-datepicker-date-selected-background: var(--mat-sys-primary);
}


:root {
    @include mat.tooltip-overrides((container-color: #38220f,
            supporting-text-color: #ece0d1,
        ));
}

//    --p-floatlabel-focus-color
//    --p-floatlabel-active-color
//    --p-inputtext-focus-border-color

.customized-tree-table {
    font-size: 14px;
    letter-spacing: 0.3px;
    --p-treetable-node-toggle-button-size: 25px;
    --p-inputtext-focus-ring-color: #38220f;
    --p-checkbox-checked-border-color: #dbc1ac;
    --p-checkbox-checked-hover-border-color: #634832;
    --p-checkbox-checked-focus-border-color: #967259;
    --p-checkbox-checked-background: #634832;
    --p-checkbox-checked-hover-background: #967259;
    --p-inputtext-focus-border-color: #38220f;
    --p-treetable-loading-icon-size: 2rem;
    --p-treetable-sort-icon-color: var(--p-text-muted-color);
    --p-treetable-sort-icon-hover-color: var(--p-text-hover-muted-color);
    --p-treetable-sort-icon-size: 0.875rem;
    --p-treetable-resize-indicator-width: 1px;
    --p-treetable-resize-indicator-color: var(--p-primary-color);
    --p-treetable-column-resizer-width: 0.5rem;
    --p-treetable-footer-background: var(--mat-sys-surface);
    --p-treetable-footer-color: var(--p-content-color);
    --p-treetable-footer-cell-background: var(--mat-sys-surface);
    --p-treetable-footer-cell-padding: 0.75rem 1rem;
    --p-treetable-body-cell-padding: 0.75rem 1rem;
    --p-treetable-body-cell-gap: 0.5rem;
    --p-treetable-row-background: var(--mat-sys-surfaced);
    --p-treetable-row-hover-background: #dbc1ac;
    --p-treetable-row-selected-background: #967259;
    --p-treetable-row-selected-color: #ffff;
    --p-treetable-row-color: var(--p-content-color);
    --p-treetable-row-hover-color: var(--p-content-hover-color);
    --p-treetable-column-title-font-weight: 600;
    --p-treetable-header-cell-background: var(--mat-sys-surface);
    --p-treetable-header-cell-gap: 0;
    --p-treetable-header-cell-padding: 0.75rem 1rem;
    --p-treetable-header-background: var(--mat-sys-surface);
    --p-treetable-header-border-width: 0 0 1px 0;
    --p-treetable-header-padding: 0.75rem 1rem;
    ;
    --p-select-hover-border-color: #dbc1ac;
    --p-select-focus-border-color: #dbc1ac;
    --p-select-option-focus-background: #dbc1ac;
    --p-select-option-selected-background: #dbc1ac;
    --p-select-option-selected-color: #000;
    --p-paginator-padding: 0.5rem 1rem;
    --p-paginator-gap: 0.25rem;
}

html {
    --mat-sys-background: #faf9fd;
    --mat-sys-error: #ba1a1a;
    --mat-sys-error-container: #ffdad6;
    --mat-sys-inverse-on-surface: #f2f0f4;
    --mat-sys-inverse-primary: #abc7ff;
    --mat-sys-inverse-surface: #2f3033;
    --mat-sys-on-background: #1a1b1f;
    --mat-sys-on-error: #ffffff;
    --mat-sys-on-error-container: #93000a;
    --mat-sys-on-primary: #ffffff;
    --mat-sys-on-primary-container: #38220f;
    --mat-sys-on-primary-fixed: #001b3f;
    --mat-sys-on-primary-fixed-variant: #00458f;
    --mat-sys-on-secondary: #ffffff;
    --mat-sys-on-secondary-container: #967259;
    --mat-sys-on-secondary-fixed: #131c2b;
    --mat-sys-on-secondary-fixed-variant: #967259;
    --mat-sys-on-surface: #1a1b1f;
    --mat-sys-on-surface-variant: #44474e;
    --mat-sys-on-tertiary: #ffffff;
    --mat-sys-on-tertiary-container: #0000ef;
    --mat-sys-on-tertiary-fixed: #00006e;
    --mat-sys-on-tertiary-fixed-variant: #0000ef;
    --mat-sys-outline: #74777f;
    --mat-sys-outline-variant: #c4c6d0;
    --mat-sys-primary: #634832;
    --mat-sys-primary-container: #dbc1ac;
    --mat-sys-primary-fixed: #d7e3ff;
    --mat-sys-primary-fixed-dim: #dbc1ac;
    --mat-sys-scrim: #000000;
    --mat-sys-secondary: #dbc1ac;
    --mat-sys-secondary-container: #dae2f9;
    --mat-sys-secondary-fixed: #dae2f9;
    --mat-sys-secondary-fixed-dim: #bec6dc;
    --mat-sys-shadow: #000000;
    --mat-sys-surface: #faf9fd;
    --mat-sys-surface-bright: #faf9fd;
    --mat-sys-surface-container: #efedf0;
    --mat-sys-surface-container-high: #e9e7eb;
    --mat-sys-surface-container-highest: #e3e2e6;
    --mat-sys-surface-container-low: #f4f3f6;
    --mat-sys-surface-container-lowest: #ffffff;
    --mat-sys-surface-dim: #dbd9dd;
    --mat-sys-surface-tint: #dbc1ac;
    --mat-sys-surface-variant: #e0e2ec;
    --mat-sys-tertiary: #dbc1ac;
    --mat-sys-tertiary-container: #e0e0ff;
    --mat-sys-tertiary-fixed: #e0e0ff;
    --mat-sys-tertiary-fixed-dim: #bec2ff;
    --mat-sys-neutral-variant20: #2d3038;
    --mat-sys-neutral10: #1a1b1f;
    --mat-button-toggle-legacy-selected-state-text-color: #2d3038;
    --mat-sys-level0: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
    --mat-sys-level1: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    --mat-sys-level2: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
    --mat-sys-level3: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    --mat-sys-level4: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    --mat-sys-level5: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
    --mat-sys-body-large: 400 1rem / 1.5rem Roboto;
    --mat-sys-body-large-font: Roboto;
    --mat-sys-body-large-line-height: 1.5rem;
    --mat-sys-body-large-size: 1rem;
    --mat-sys-body-large-tracking: 0.031rem;
    --mat-sys-body-large-weight: 400;
    --mat-sys-body-medium: 400 0.875rem / 1.25rem Roboto;
    --mat-sys-body-medium-font: Roboto;
    --mat-sys-body-medium-line-height: 1.25rem;
    --mat-sys-body-medium-size: 0.875rem;
    --mat-sys-body-medium-tracking: 0.016rem;
    --mat-sys-body-medium-weight: 400;
    --mat-sys-body-small: 400 0.75rem / 1rem Roboto;
    --mat-sys-body-small-font: Roboto;
    --mat-sys-body-small-line-height: 1rem;
    --mat-sys-body-small-size: 0.75rem;
    --mat-sys-body-small-tracking: 0.025rem;
    --mat-sys-body-small-weight: 400;
    --mat-sys-display-large: 400 3.562rem / 4rem Roboto;
    --mat-sys-display-large-font: Roboto;
    --mat-sys-display-large-line-height: 4rem;
    --mat-sys-display-large-size: 3.562rem;
    --mat-sys-display-large-tracking: -0.016rem;
    --mat-sys-display-large-weight: 400;
    --mat-sys-display-medium: 400 2.812rem / 3.25rem Roboto;
    --mat-sys-display-medium-font: Roboto;
    --mat-sys-display-medium-line-height: 3.25rem;
    --mat-sys-display-medium-size: 2.812rem;
    --mat-sys-display-medium-tracking: 0;
    --mat-sys-display-medium-weight: 400;
    --mat-sys-display-small: 400 2.25rem / 2.75rem Roboto;
    --mat-sys-display-small-font: Roboto;
    --mat-sys-display-small-line-height: 2.75rem;
    --mat-sys-display-small-size: 2.25rem;
    --mat-sys-display-small-tracking: 0;
    --mat-sys-display-small-weight: 400;
    --mat-sys-headline-large: 400 2rem / 2.5rem Roboto;
    --mat-sys-headline-large-font: Roboto;
    --mat-sys-headline-large-line-height: 2.5rem;
    --mat-sys-headline-large-size: 2rem;
    --mat-sys-headline-large-tracking: 0;
    --mat-sys-headline-large-weight: 400;
    --mat-sys-headline-medium: 400 1.75rem / 2.25rem Roboto;
    --mat-sys-headline-medium-font: Roboto;
    --mat-sys-headline-medium-line-height: 2.25rem;
    --mat-sys-headline-medium-size: 1.75rem;
    --mat-sys-headline-medium-tracking: 0;
    --mat-sys-headline-medium-weight: 400;
    --mat-sys-headline-small: 400 1.5rem / 2rem Roboto;
    --mat-sys-headline-small-font: Roboto;
    --mat-sys-headline-small-line-height: 2rem;
    --mat-sys-headline-small-size: 1.5rem;
    --mat-sys-headline-small-tracking: 0;
    --mat-sys-headline-small-weight: 400;
    --mat-sys-label-large: 500 0.875rem / 1.25rem Roboto;
    --mat-sys-label-large-font: Roboto;
    --mat-sys-label-large-line-height: 1.25rem;
    --mat-sys-label-large-size: 0.875rem;
    --mat-sys-label-large-tracking: 0.006rem;
    --mat-sys-label-large-weight: 500;
    --mat-sys-label-large-weight-prominent: 700;
    --mat-sys-label-medium: 500 0.75rem / 1rem Roboto;
    --mat-sys-label-medium-font: Roboto;
    --mat-sys-label-medium-line-height: 1rem;
    --mat-sys-label-medium-size: 0.75rem;
    --mat-sys-label-medium-tracking: 0.031rem;
    --mat-sys-label-medium-weight: 500;
    --mat-sys-label-medium-weight-prominent: 700;
    --mat-sys-label-small: 500 0.688rem / 1rem Roboto;
    --mat-sys-label-small-font: Roboto;
    --mat-sys-label-small-line-height: 1rem;
    --mat-sys-label-small-size: 0.688rem;
    --mat-sys-label-small-tracking: 0.031rem;
    --mat-sys-label-small-weight: 500;
    --mat-sys-title-large: 400 1.375rem / 1.75rem Roboto;
    --mat-sys-title-large-font: Roboto;
    --mat-sys-title-large-line-height: 1.75rem;
    --mat-sys-title-large-size: 1.375rem;
    --mat-sys-title-large-tracking: 0;
    --mat-sys-title-large-weight: 400;
    --mat-sys-title-medium: 500 1rem / 1.5rem Roboto;
    --mat-sys-title-medium-font: Roboto;
    --mat-sys-title-medium-line-height: 1.5rem;
    --mat-sys-title-medium-size: 1rem;
    --mat-sys-title-medium-tracking: 0.009rem;
    --mat-sys-title-medium-weight: 500;
    --mat-sys-title-small: 500 0.875rem / 1.25rem Roboto;
    --mat-sys-title-small-font: Roboto;
    --mat-sys-title-small-line-height: 1.25rem;
    --mat-sys-title-small-size: 0.875rem;
    --mat-sys-title-small-tracking: 0.006rem;
    --mat-sys-title-small-weight: 500;
    --mat-sys-corner-extra-large: 28px;
    --mat-sys-corner-extra-large-top: 28px 28px 0 0;
    --mat-sys-corner-extra-small: 4px;
    --mat-sys-corner-extra-small-top: 4px 4px 0 0;
    --mat-sys-corner-full: 9999px;
    --mat-sys-corner-large: 16px;
    --mat-sys-corner-large-end: 0 16px 16px 0;
    --mat-sys-corner-large-start: 16px 0 0 16px;
    --mat-sys-corner-large-top: 16px 16px 0 0;
    --mat-sys-corner-medium: 12px;
    --mat-sys-corner-none: 0;
    --mat-sys-corner-small: 8px;
    --mat-sys-dragged-state-layer-opacity: 0.16;
    --mat-sys-focus-state-layer-opacity: 0.12;
    --mat-sys-hover-state-layer-opacity: 0.08;
    --mat-sys-pressed-state-layer-opacity: 0.12
}